@font-face {
  font-family: Orbitron;
  src:
    url("fonts/orbitron-vf.woff2") format("woff2"),
    url("fonts/orbitron-vf.woff") format("woff"),
    url("fonts/orbitron-vf.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Chakra Petch";
  src:
    url("fonts/chakrapetch-700.woff2") format("woff2"),
    url("fonts/chakrapetch-700.woff") format("woff"),
    url("fonts/chakrapetch-700.ttf") format("truetype");
  font-display: swap;
}

:root {

}

body {
  background: #335;
}
